* {
    margin: 0;
    padding: 0;
    border: 0;
    /* -webkit-text-size-adjust: none; */

}

body {
    font-family: 'Gina', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1em;
    color: var(--clr-title);
}

.cookies-informer .btn-close:not(:hover) {
    background: transparent;
}

.cookies-informer .btn-close {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.btn-close {
    display: inline-block;
    cursor: pointer;
    vertical-align: baseline;
    position: relative;
    width: 44px;
    z-index: 1;
    height: 44px;
    background: #1c1c1c;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}



.cookies-informer.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.cookies-informer {
    display: block;
    position: fixed;
    z-index: 500;
    bottom: 30px;
    right: 30px;
    max-width: 560px;
    width: calc(100% - 24px);
    padding: 50px 40px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background: rgba(46, 46, 46, 0.7);
    border: 1px solid rgba(210, 210, 210, 0.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}



.btn-close::before,
.btn-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    height: 1px;
    width: 40%;
    background: #ffffff;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.btn-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}




/* ///////////////////////// */


.br_block_centr1 {
    background-color: #191b1d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    position: relative;
    /* background-color: var(--clr-black); */
    border-bottom: 1px solid #343a40;
    height: 70vw;


    /* margin-top: 20px; */
}

.b_h_title {
    position: relative;
}

.br_block_centr1 .b_h_title h2 {
    color: #A9A9A9;
    font: inherit;
    font-size: clamp(22px, 3.3vw, 80px);
    line-height: 0.97em;
    display: inline-block;
    height: 12vw;
    width: 50vw;
    position: absolute;
    /* margin-bottom: 5vw; */
    bottom: 30vw;
    /* top: 0; */
    right: 8%;
    font-size: 3.5vw;
    font-style: oblique;

}

.br_block_centr1 .b_img {
    margin-left: 5%;
}

.br_block_centr1 .b_h_title .content {
    display: inline-block;
    position: absolute;
    height: fit-content;
    width: 40vw;
    top: -40vw;
    right: 4vw;
    font-size: 2vw;
   

}

.br_block_centr1 .b_h_title .content p {   
    margin-top: 15%;
    margin-right: 0;
    color: rgb(161, 152, 152);
    font-size: 20px;
    font-style: inherit;
    line-height: 1em;
    bottom: 0;
    font-size: 2vw;
}

.b_space {
    height: 20vw;

    margin-top: 5%;
}

.br_block_centr2 {
    background-color: #191b1d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    position: relative;
    /* background-color: var(--clr-black); */
    border-bottom: 1px solid #343a40;
    height: 80vw;
}

.br_block_centr2 .b_space {
    margin: 0;
    height: 10vw;
}

.br_block_centr2 .b_conteiner .b_img_content div img {
    height: 50vw;
    width: 28vw;
    margin: 0;
    padding: 0;
    display: inline;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    
}

.br_block_centr2 .b_conteiner .b_img_content div a {
    display: inline-block;
    position: absolute;
    z-index: 1;
    bottom: 12%;
    right: 30%;
    color: rgb(126, 114, 114);
    font-size: larger;
    transition: ease .2s all;
    font-size: 2vw;
    opacity: .3;
}

.br_block_centr2 .b_conteiner .b_img_content div:hover a {
    color: black;
   opacity: 1;
}

.br_block_centr2 .b_conteiner .b_img_content div .b_img_hov:hover img {
    width: 7vw;
}

.br_block_centr2 .b_conteiner .b_img_content div i {
    z-index: 1;
    color: white;
    bottom: 0;
    margin: 5%;
}

.br_block_centr2 .b_conteiner .b_img_content div i img {
    height: 2.5vw;
    width: 5vw;
    margin: 10%;
    right: 30%;
    z-index: 1;
    /* bottom: -30px; */
    opacity: .8;
    max-width: 7vw;
}

.br_block_centr2 .b_conteiner .b_img_content div {
    position: relative;
    display: inline-block;
    height: 50vw;
    width: 31vw;
    /* z-index: 1; */
    overflow: hidden;
    
}

.br_block_centr2 .b_conteiner .b_img_content div .b_img_hov {
    width: 31.5vw;
    transition: 1.2s;
   
}

.br_block_centr2 .b_conteiner .b_img_content div .b_img_hov:hover {
    width: 40vw;
    height: 60vw;
    /* left: -10%;
    top: -10%; */
    /* height: 100vw; */
}

.br_block_centr2 .b_conteiner .b_img_content {
    margin-left: 5vw;
    /* overflow-x: hidden; */
}

.br_block_centr2 .b_conteiner .b_title_block2 {
    text-align: left;
    margin-bottom: 5%;
}

.br_block_centr2 .b_conteiner .b_title_block2 h2 {
    margin-left: 5%;
    color: rgb(138, 135, 135);
    font-size: 6vw;
}

.br_block_center3 {
    background-color: #191b1d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    position: relative;
    border-bottom: 1px solid #343a40;
    height: 60vw;

}

.br_block_center3 .b_img_bl3 {
    height: 50vw;
    position: relative;
}

.br_block_center3 .b_img_bl3 img {
    height: 40vw;
    width: 40vw;
    right: 0;
    position: absolute;

    margin: 5%;
}

.br_block_center3 .b_content_bl3 {
    display: inline-block;
    position: absolute;
    justify-content: center;
    height: 50vw;
    width: 30vw;
    margin: 5%;
     /* overflow-y:scroll; */
     /* scroll-behavior: auto; */
     /* scrollbar-base-color: #191b1d; */
  
}

.br_block_center3 .b_content_bl3 h2 {
    font-size: 5vw;
    font-style: italic;
    color: rgb(138, 135, 135);
    margin: 5%;

}

.br_block_center3 .b_content_bl3 p {
    font-style: italic;
    color: rgb(138, 135, 135);
    margin: 5%;
    /* font-style: inherit; */
    line-height: 1.2em;
    height: 18vw;
    font-size: 1.5vw;
    

    /* overflow-y: scroll; */
    /* overflow-wrap: break-word; */
    /* overflow-x: hidden; */
    /* overflow: hidden;     */
}

 /* .br_content_p{
    font-style: italic;
    color: rgb(138, 135, 135);
    margin: 5%;
    
    line-height: 1.3em; 
    display: block;
 }


.br_block_center3 .b_content_bl3 p .br_btn-bl3 {
    background-color: #191b1d;
    cursor: pointer;
    z-index: 1;
   
    width: 50vw;
    display: block;
   
} 
.br_block_center3 .b_content_bl3 .br_btn-bl3 b{
    color: gray;
    transition: .5s;
    font-size: 2.2vw;

    /* width: 25vw; */
    
/* } */
/* .br_block_center3 .b_content_bl3 .br_btn-bl3 i img {
    height: 5vw;
    width: 6vw;
    transition: 1s;
    
    
}
*/

/* .br_block_center3 .b_content_bl3 .br_btn-bl3:hover i img{
    width: 8vw;
    height: 6;
}
.br_block_center3 .b_content_bl3 .br_btn-bl3:hover b{
    color: white;
}  */