*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: none;
    
}
body{
    font-family: 'Gina', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1em;
    color: var(--clr-title);
}
.cookies-informer .btn-close:not(:hover){
    background: transparent;
}
.cookies-informer .btn-close{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}
.btn-close{
    display: inline-block;
    cursor: pointer;
    vertical-align: baseline;
    position: relative;
    width: 44px;
    z-index: 1;
    height: 44px;
    background: #1c1c1c;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cookies-informer.active{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.cookies-informer{
    display: block;
    position: fixed;
    z-index: 500;
    bottom: 30px;
    right: 30px;
    max-width: 560px;
    width: calc(100% - 24px);
    padding: 50px 40px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background: rgba(46, 46, 46, 0.7);
    border: 1px solid rgba(210, 210, 210, 0.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.cookies-informer, .cart{
    opacity: 0;
    visibility: hidden;
}
.btn-close::before, .btn-close::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    height: 1px;
    width: 40%;
    background: #ffffff;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-close::before{
    -webkit-transform: translate(-50%, -50%)rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.btn-close::before, .btn-close::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    height: 1px;
    width: 40%;
    background: #ffffff;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.btn { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; cursor: pointer; text-decoration: none; text-transform: uppercase; letter-spacing: 0.02em; border: none; background: none; font-size: 14px; line-height: 20px; font-weight: 400; color: var(--clr-white); -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn b { font-weight: inherit; -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn i { position: relative; display: inline-block; width: 20px; height: 20px; margin-left: 15px; }

.btn i svg { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.btn i svg path { fill: var(--clr-white); -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn i svg.stroke path { fill: none; stroke: var(--clr-white); }

.btn-primary { padding: 0 30px 20px 0; color: var(--clr-white); }
.btn-type2{ padding: 5px 10px;border: 1px solid #A9A9A9}
.btn-primary i { margin-left: 60px; }

.btn-primary::before { content: ''; position: absolute; bottom: 0; right: 0; width: 85%; height: 1px; background: var(--clr-white); opacity: .3; -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn-secondary { padding: 18px 30px; border: 1px solid var(--clr-white); }

.btn-secondary b { color: var(--clr-white); -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn-secondary i { margin-left: 60px; }

.btn.disabled { pointer-events: none; opacity: 0.3; }

.btn-close { display: inline-block; cursor: pointer; vertical-align: baseline; position: relative; width: 44px; z-index: 1; height: 44px; background: #1C1C1C; -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn-close::before, .btn-close::after { content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(45deg); -ms-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); height: 1px; width: 40%; background: #ffffff; -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn-close::after { -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }

.btn-yt { display: block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 120px; }

.btn-yt svg { width: 100%; }

.btn-yt svg path { -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

.btn-close-dark::before,.btn-close-dark::after {background: var(--clr-white);}

@media (min-width: 1200px) { .btn:hover { opacity: .6; }
  .btn-primary:hover { opacity: 1; }
  .btn-primary:hover:before { opacity: 1; width: 100%; }
  .btn-secondary:hover { opacity: 1; background: var(--clr-white); }
  .btn-secondary:hover b { color: var(--clr-black); }
  .btn-secondary:hover svg path { fill: var(--clr-black); }
  .btn-close:hover { background: #ffffff; }
  .btn-close:hover::before, .btn-close:hover::after { background: #1C1C1C; }
  .btn-yt:hover svg path { fill: #858484; } }
  @media (max-width: 1440px) { .btn-yt { width: 100px; }
  .btn-secondary { padding: 13px 15px; }
  .btn-secondary i { margin-left: 30px; } }

@media (max-width: 767px) { .btn { font-size: 14px; line-height: 18px; }
  .btn .btn i { width: 18px; height: 18px; margin-left: 10px; }
  .btn-primary { padding: 0 15px 10px 0; }
  .btn-primary i { margin-left: 30px; }
  .btn-close { width: 32px; height: 32px; }
  .btn-close::before, .btn-close::after { width: 50%; }
  .btn-yt { width: 80px; } }

@media(max-width: 575px){
  .btn b {position: relative;top: 1px;}
  .btn i svg {margin-top: -1px;}
}
.cookies-informer,.cart {opacity: 0;visibility: hidden;}



/* ///////////////////////// */


.br_block_centr1{
    -webkit-font-smoothing: antialiased;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --clr-title: #ffffff;
    --clr-text: #A9A9A9;
    --clr-white: #ffffff;
    --clr-black: #1C1C1C;
    --clr-red: #B62828;
    --clr-grey: #EDEDED;
    --clr-grey-content: #494949;
    --transition: all 0.3s;
    --transition-2: all 0.4s ease-in;
    --rgb-bullet: 255, 255, 255;
    --rgb-border: rgba(255, 255, 255, 0.2);
    --rgb-glass: 46, 46, 46;
    --clr-icon-bg: rgba(0, 0, 0, 0.4);
    --lf-menu-width: 70px;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: var(--clr-title);
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
    -webkit-locale: auto;
    position: relative;
    background-color: var(--clr-black);
    border-bottom: 1px solid #434343;
}
.br_block_centr1 .b_h_title h2{
    color: #A9A9A9;
    font-size: clamp(32px, 4.3vw, 80px);
    line-height: 0.97em;
    display: inline-block;
    height: 20vw;
    width: 50vw;
}