.p_head{
    background-color: rgb(22, 22, 22);
    position: absolute;
    display: flex;
    width: 100vw;
}

.p_head::-webkit-scrollbar{
    width: 0;
}

body{
    
    background-color: #ffffff;
    /* width: 200px;
    height: 200px; */
    
    
}
.overflow {
    min-height: 400px;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: #383838;
}
.p_head .navigation{
    position: absolute;
    top: 690px;
    left: 1200px;
    transform: translateX(-50%);
    display: flex;
}
.navigation b{
    position: absolute;
    top: 0px;
    left: 120px;
    font-size: 20px;
    z-index: 100;
    /* width: 50px; */
}
.bar{
    border: 1px solid #ddd;
    height: 6px;
    width: 6px;
    margin: 13px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    transition: all .4s ease;
}
.navigation #b1{
    font-size: 25px;
    left: 104px;
    top: -5px;

}
.bar:hover{
    transform: scale(1.1);
    background-color: white;
    height: 7px;
    width: 7px;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.page{
    height: 795px;
    width: 100%;
    transition: all .6s ease;
}
.page img{
    width: 100%;
    height: 100%;
}
.page .pid_menu{
    position: relative;
    width: 100%;
    top:-290px;
    /* left: 180px; */
}
@font-face {
    font-family: Gina-Thin; 
    src: url(fonts/Gina-Thin.woff2);
}
h1 , h2{
    color: #ddd;
    font-size: 70px;
    font-family: Gina-Thin;
}
b{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Gina-Thin;
    position: absolute;
    top:120px;
}
i{
    position: absolute;
    top: 135px;
    left: 470px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn{
    cursor:pointer;
}
.line{
    background-color: rgb(75, 75, 75);
    height: 1px;
    position: absolute;
    width: 420px;
    top: 160px;
    left: 80px;
    transition: all .4s ease;
}
.line2{
    background-color: rgb(75, 75, 75);
    height: 1px;
    position: absolute;
    width: 245px;
    top: 160px;
    left: 40px;
    transition: all .3s ease;
}
.btn b:hover ~.line{
    opacity: 0.8;
    width: 500px;
    left: 0px;
    background-color: rgb(255, 255, 255);
}
.btn b:hover ~.line2{
    opacity: 0.8;
    width: 285px;
    left: 0px;
    background-color: rgb(255, 255, 255);
}
.strela{
    position: absolute;
    left: 240px;
}
.p_page2{
    position: absolute;
    top:790px;
    left: 0px;
}
.p_page2 img{
    height: 430px;
}
.p_page2 .block{
    
    top:0px;
    height: 430px;
    background-color: #161616;
    transition: all 0.5s ease;
}
.block:hover{
    background-color: transparent;
}
h2{
    text-align: center;
    font-weight: lighter;
    
}
.p_v_menu{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: transparent;
    position: fixed;
    height: 70px;
    width: 100vw;
    top: -1px;
    left: 70px;
    border: 0.5px solid rgb(71, 71, 71);
}
.p_l_menu{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: transparent;
    position: fixed;
    height: 100vh;
    width:4vw;
    top: 0px;
    left: -1px;
    border: 0.5px solid rgb(71, 71, 71);
    z-index: 1000;
}
.inst{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 338px;
    left: 15px;
    border-radius: 50px;
    transition: all .2s ease;

}
.inst:hover{
    background-color: #161616;
}
.inst .i{
    position: absolute;
    top: 12px;
    left: 12px;
}
.viber{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 378px;
    left: 14px;
    border-radius: 50px;
    transition: all .2s ease;
}
.viber:hover{
    background-color: #161616;
}
.viber .v{
    position: absolute;
    top: 10px;
    left: 10px;
}
.teleg{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 419px;
    left: 15px;
    border-radius: 50px;
    transition: all .2s ease;
}
.teleg:hover{
    background-color: #161616;
}

.teleg .t{
    position: absolute;
    top: 10px;
    left: 9px;
}

.logo{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 90px;
}
.h-icon{
    position: absolute;
    top: 26px;
    left: 149px;
}
.p_v_menu b{
    font-size: 14px;
    top: 22px;
    left: 180px;
}
.p_v_menu .golovna{
    font-size: 16px;
    left: 480px;
    transition: all .2s ease;
    cursor: pointer;
}
.golovna:hover{
    color: #adadad;
}
.p_v_menu .k_t{
    font-size: 16px;
    left: 570px;
    transition: all .2s ease;
    cursor: pointer;

}
.k_t:hover{
    color: #adadad;
}
.p_v_menu .ofera{
    font-size: 16px;
    left: 710px;
    transition: all .2s ease;
    cursor: pointer;

}
.ofera:hover{
    color: #adadad;
}
.btn_p{
    position: absolute;
    left: 960px;
    top:15px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    transition: all .4s ease;
    cursor: pointer;
}
.btn_p .h-icon{
    position: absolute;
    left: 12px;
    top: 12px;
}
.btn_l{
    position: absolute;
    left: 1010px;
    top:15px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    transition: all .4s ease;
    cursor: pointer;
}
.btn_l .h-icon{
    position: absolute;
    left: 12px;
    top: 12px;
}
.btn_a{
    cursor: pointer;
    position: absolute;
    left: 1060px;
    top:15px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    transition: all .4s ease;
}
.btn_a .h-icon{
    position: absolute;
    left: 12px;
    top: 12px;
}
.btn_a:hover{
    background-color: #383838;
}
.btn_p:hover{
    background-color: #383838;
}
.btn_l:hover{
    background-color: #383838;
}
.koshik .h-icon{
    position: absolute;
    left: 27px;
    top: 26px;
    
}
.koshik{
    position: absolute;
    right: 70px;
    top: -1px;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(71, 71, 71);
    transition: all .4s ease;
    cursor: pointer;
}
.koshik:hover{
    background-color: #00000075;
}
#logo_menu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .3s ease;
}
#logo_menu #line1{
    background-color: white;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: 20px;
    transition: all .3s ease;
}
#logo_menu #line2{
    background-color: white;
    width: 15px;
    height: 1px;
    position: absolute;
    top: 23px;
    left: 20px;
    transition: all .3s ease;
}
#logo_menu #line3{
    background-color: white;
    width: 20px;
    height: 1px;
    position: absolute;
    top: 29px;
    left: 30px;
    transition: all .3s ease;
}
#logo_menu b{
    font-size: 11px;
    position: absolute;
    left: 18px;
    top: 38px;
}
#p_show_menu{
    position: absolute;
    top: 0px;
    left: 100px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(20px);
    background: rgba(37, 37, 37, 0.253);
    width: 100vw;
    height: 100vw;
    transition: all .4s ease;
    z-index: 900;
}
#p_show_menu a{
    color: white;
    font-family: Gina-Thin;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
    transition: all .3s ease;
}

.LED_MIRROR{
    top: 215px;
    left: 165px;
}
.IRON_MIRROR{
    top: 290px;
    left: 165px;
}
.MEGA_MIRRORS{
    top: 365px;
    left: 165px;
}
.SHOWER_BOXES{
    top: 215px;
    left: 440px;
}
.DESIGN_SERIES{
    top: 290px;
    left: 440px;
}
#p_show_menu a:hover{
    color: rgb(219, 219, 219);
}
#p_show_menu .infa a{
    font-size: 18px;
    font-weight: 600;
}
.text1{
    top: 256px;
    left: 738px;
}
.text2{
    top: 303px;
    left: 738px;
}
.text3{
    top: 350px;
    left: 738px;
}
.text4{
    top: 256px;
    left: 970px;
}
.text5{
    top: 303px;
    left: 970px;
}
.poshta, .tel, .grafik, .back{
    width: 340px;
    height: 160px;
    border: 1px solid rgba(141, 141, 141, 0.445);
    position: absolute;
    top: 634px;
}
.tel{
    left: 340px;
}
.grafik{
    left: 680px;
}
.back{
    left: 1020px;
    width: 350px;

}
.logo_p{
    height: 45px;
    width: 45px;
    background-color: #3d3d3d;
    border-radius: 60px;
    position: absolute;
    top: 58px;
    left: 70px;
}
#p_show_menu .poshta a{
    font-size: 17px;
    top: 63px;
    left: 130px;
}
.logo_p .sms{
    position: absolute;
    top: 11px;
    left: 11px;
}
.logo_t{
    height: 45px;
    width: 45px;
    background-color: #3d3d3d;
    border-radius: 60px;
    position: absolute;
    top: 58px;
    left: 70px;
}
#p_show_menu .tel a{
    font-size: 17px;
    top: 63px;
    left: 130px;
}
.logo_t .telef{
    position: absolute;
    top: 14px;
    left: 14px;
}
.logo_g{
    height: 45px;
    width: 45px;
    background-color: #3d3d3d;
    border-radius: 60px;
    position: absolute;
    top: 58px;
    left: 70px;
}
.logo_g .graf{
    position: absolute;
    top: 9px;
    left: 10px;
}
#p_show_menu .grafik a{
    font-size: 17px;
}
#p_show_menu .grafik .a1{
    font-size: 17px;
    top: 55px;
    left: 130px;
}
#p_show_menu .grafik .a2{
    font-size: 17px;
    top: 78px;
    left: 130px;
}
#p_show_menu .back a{
    font-size: 17px;
    position: absolute;
    top: 57px;
    left: 50px;
}
#p_show_menu .back .strela{
    position: absolute;
    top: 63px;
    left: 250px;
}
#p_show_menu .back .line{
    background-color: white;
    height: 1px;
    width: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
}
#p_show_menu .back a:hover ~.line{
    opacity: 0.8;
    width: 250px;
    left: 50px;
    background-color: rgb(255, 255, 255);
}
#p_show_menu .back .strela:hover ~.line{
    opacity: 0.8;
    width: 250px;
    left: 50px;
    background-color: rgb(255, 255, 255);
}
#back_m .line1{
    height: 1px;
    width: 30px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 25px;
    left: 20px;
}
#back_m .line2{
    height: 1px;
    width: 30px;
    background-color: white;
    transform: rotate(135deg);
    position: absolute;
    top: 25px;
    left: 20px;
}
#back_m{
    position: absolute;
    top: -100px;
    transition: all .3s ease;
}



